---
name: exec

'on':
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: ['macos-latest', 'ubuntu-latest', 'windows-latest']
        ruby: ['2.7', '3.0']
    name: Exec Ohai on ${{ matrix.os }} with Ruby ${{ matrix.ruby }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec ohai
