---
name: lint

on:
  pull_request:
  push:
    branches:
      - main
      - 18-stable

permissions:
  contents: read

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  chefstyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
      - uses: r7kamura/rubocop-problem-matchers-action@v1  # this shows the failures in the PR
      - run: |
          bundle install --jobs 4 --retry 3  
          bundle exec rake style